body {
  max-width: 40rem;
  margin: auto;
  color: #000;
}

a {
  color: #000;
}

header {
  position: sticky;
  top: 0;
  background: #fff;
  padding: 0.8rem;
}

header > nav {
  display: flex;
  align-items: center;
}

header > nav > ul {
  padding: 0;
}

header > nav > ul > li {
  display: inline-block;
  padding-right: 1em;
}

#toggleDark {
  cursor: pointer;
  height: 1em;
  width: 1em;
  padding-left: 0.5em;
}

main {
  margin: 1rem;
}

main > section {
  scroll-margin-top: 6rem;
}

main li {
  padding-bottom: 0.3em;
}

main h1 {
  display: flex;
  align-items: center;
}

#headshot {
  border-radius: 50%;
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
}

footer {
  margin: 1rem;
}

footer ul {
  padding-left: 1rem;
}

footer li {
  list-style-type: none;
  padding-bottom: 1em;
}
