body {
  max-width: 40rem;
  margin: auto;
  color: #000;
}

a {
  color: #000;
}

header {
  position: sticky;
  top: 0;
  background: #fff;
  padding: 0.8rem;
}

header > nav {
  display: inline-block;
}

header > nav > ul {
  padding: 0;
}

header > nav > ul > li {
  display: inline-block;
  padding-right: 1em;
}

#toggleDark {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  background: #000;
}

main {
  margin: 1rem;
}

main > section {
  scroll-margin-top: 6rem;
}

footer {
  margin: 1rem;
}

footer ul {
  padding-left: 1rem;
}

footer li {
  list-style-type: none;
}

main li,
footer li {
  padding-bottom: 0.3em;
}
